@import 'https://fonts.googleapis.com/css?family=Raleway:100,300,400';

html {
  box-sizing: border-box;
	margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	margin: 0;
}
#top {
	width: 100%;
	height: 100vh;
	object-fit: cover;
	object-position: top center;
	opacity: 0.9;
	position: fixed;
	top: 0;
	z-index: -1;
}

nav {
  position: fixed;
  top: 45%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 10%;
}
.title {
  font-family: 'Raleway', sans-serif;
  font-size: 3vw;
  text-align: center;
  color: #454545;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;

}
nav a {
  font-size: 2.5vw;
  color: #7A7A7A;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 100;
}
.modules {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.module {
  background-color: #F0F0F0;
  width: 25%;
  height: 45%;
  /*overflow-y: scroll;*/
}
.bio {
  display: none;
  overflow-y: scroll;
}
.bio.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
}
.bio img {
  width: 60%;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}
.contact {
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
}
h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  text-align: center;
}
p {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-align: left;
  padding: 15px;
  margin: 0 auto;
}
.skills {
  display: none;
  width: 50%;
  background-color: #F0F0F0;
  position: fixed;
  bottom: 0;
  left: 25%;
  overflow-y: scroll;
}


h3 {
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: space-around;
}

.block {
  font-family: 'Raleway', sans-serif;
  width: 30%;
  display: inline-block;
  vertical-align: top;
  padding: 5px;
}

.skillIcon {
  font-size: 50px;
  margin: 0 auto;
  width: 55px;
  display: block;
  text-align: center;
  padding-top: 7px;
}

a {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: #575757;
  text-align: center;
}

table {
  margin: 20px auto;
  width: 80%;
  height: 80%;
}
td {
  text-align: right;
  padding: 4px;
}
.social {
  width: 32px;
}

.thumbnail {
  height: 120px;
  margin: 0 auto;
}
h4 {
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 1px solid #454545;
  text-align: center;
}
.project p {
  padding: 5px;
  text-align: center;
}

.links {
  position: absolute;
  bottom: 10px;
  left: 35%;
}
/*http://www.youandigraphics.com/*/

.project {
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  margin: 0;
  text-align: center;
  height: 100%;
  position: relative;
}

.nightSky {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 25%;
  height: 45%;
}

.triangles {
  position: fixed;
  display: none;
  top: 0;
  left: 25%;
  width: 25%;
  height: 45%;
}

.airbnb {
  position: fixed;
  display: none;
  top: 0;
  left: 50%;
  width: 25%;
  height: 45%;
}

.wealthredis {
  position: fixed;
  display: none;
  top: 0;
  left: 75%;
  width: 25%;
  height: 45%;
}

.covered {
  position: fixed;
  display: none;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 45%;
}

.businessas {
  position: fixed;
  display: none;
  bottom: 0;
  left: 25%;
  width: 25%;
  height: 45%;
}


@media (max-width: 1100px) {
  td {
    font-size: 13px;
  }
  .social {
    width: 20px;
  }
}

@media (max-width: 860px) {

}
